extends layout

block content
  h1= title
  form(action='/new', method='POST')
    p
      | Name: 
      br
      |
      input(required='true', type='text', name='messageUser', placeholder='John Doe', style="margin-bottom: 12px;")
      |
      br
      | Message:
      br
      | 
      textarea(required='true', name='messageText', placeholder='Hello World', rows="10" cols="30")
    input(type='submit', value='Submit')